body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}
div#registation-row {
    background: #ddd;
}
#registation-row .container #registation-row #logregistationin-column #registation-box{
   margin-top: 120px;
  max-width: 600px;
  height: 460px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#registation .container #registation-row #registation-column #registation-box #registation-form {
  padding: 20px;
}

#registation .container #registation-row #registation-column #registation-box #registation-form #registation-link {
  margin-top: -85px;
}

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}